h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a, b, strong, th, td, div, input  {
  font-family: 'Roboto', sans-serif;
}

#add-record-form {
  display: none;
}

.active {
  display: block !important;
}

form {
  label {
    margin-bottom: 0;
  }
  .form-text {
    margin: 0;
  }
}

#priority-input, #port-input, #weight-input {
  display: none;
}

.navbar-brand {
  h1 {
    font-size: 28px;
  }
}